.transbox {
  background-color: #A8E6CF; 
  max-width: 50em;
  margin: 2vw;
  margin-left: 15%;
  opacity: 0.7;
  border: 1vw solid white;
}

h2 {
  text-align: right;
  font-family: 'Pacifico', cursive;
  font-size: 3vw;
  color: #384046;
  margin: 4px;
  margin-right: 9em;
  opacity: 0.7;

}

.App {
  text-align: center;
}

.flex {
  flex: 1;
}

button {
background-color:#A8E6CF; 
  display: inline-flex;
  padding: 1vw;
  background: transparent;
  cursor: pointer;
} 

.MuiToolbar-root-36 {
  background-color: #A8E6CF;
  border: 10px #384046;
}

body {
  background-image: url("https://i.imgur.com/xf28uG4.jpg"); 
  background-size: cover;

}

h1 {
color: #A8E6CF;
background-color: lightcoral;
border: 0.32vw solid white;
max-width: 20em;
text-align: center;
margin: 0.5em;
margin-top: 1.2em;
padding: 3px;
font-family: 'Pacifico', cursive;
font-size: 4vw;
opacity: 0.8;
}

p {
  padding: 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7vw;
}

button {
  background-color: white;
  margin: 1.5em;
}


