.transbox {
  background-color: rgb(90, 224, 211);
  max-width: 50em;
  margin: 3.35vw;
  opacity: 0.7;
  border: 5em black;
}

h3 {
  text-align: center;
 color: aqua;
}

.App {
  text-align: center;
}

.flex {
  flex: 1;
}

button {
  background-color: darkturquoise;
  color: black;
  display: inline-flex;
 
  padding: 7px 35px;
  background: transparent;
  cursor: pointer;
} 

.MuiToolbar-root-36 {
  background-color: lightcoral;
}

body {
  background-image: url("https://i.imgur.com/FrlHpAn.jpg"); 
  background-size: cover;

}

h1 {
color: turquoise;
background-color: lightcoral;
border: 0.6em solid white;
max-width: 20em;
text-align: center;
margin: 1.5em;
padding: 3px;
}

p {
  padding: 3vw;
  margin: 4vw;
}

button {
  background-color: white;
  margin: 1.5em;
}


